// COLORES

$background : #D9DADA;
$pantalla : #F8FAF9;
$pantalla_data: #51ae5f;
$base_1 : #AE0C0B;
$base_2 : #CE0D2B;
$negro : #283D49; 
$rosa : #FA26A0;
$amarillo : #F8D210; 
$boton: #256D7C;
$rndBotton: #A59951;

// Fuentes

$fuentePrimaria: 'Rubik', sans-serif;
$fuenteSecundaria: 'Patrick Hand', cursive;
$fuenteTercera: 'Oswald', sans-serif;;